.wrap

	h1 SPINNERS
	.spinner.spinner-1
	.spinner.spinner-2
	.spinner.spinner-3
	
.wrap

	h1 LOADERS
	
	.loader.loader-1
		span
		span
		span
	.loader.loader-2
		span
		span
		span
		span
		span
	.loader.loader-3
		span ...loading...